@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --blue: rgba(29, 161, 242);
  --font: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
:root {
  --pink: rgb(236, 112, 133);
  --pink2: rgb(247, 10, 81);
}
body {
  /* padding: 5% 8%; */
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.white {
  color: white;
}
.black {
  color: black;
}
.gray {
  color: rgba(255, 255, 255, 0.315);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gap3 {
  gap: 3%;
}
.gap5 {
  gap: 5%;
}
.gap8 {
  gap: 8%;
}
.w100 {
  width: 100%;
}

/* ============== END ================ */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #0d6efd;
  padding: 2% 10%;
  color: white;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
  font-size: 1.5rem;
}

.fa-bell {
  font-size: 1.5rem;
}
.signup-icon {
  color: white;
  font-size: 1.5rem;
}
.log-out {
  color: white;
  text-decoration: none;
}
main {
  border-left: 1px solid rgba(0, 0, 0, 0.096);
  border-right: 1px solid rgba(0, 0, 0, 0.096);
  margin-left: 24.6%;
}
.main {
  width: 40%;
}
.tweet-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-container .top {
  padding-top: 3%;
  padding-left: 3%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}
.post-container .top2 {
  padding-left: 3%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}
.post-container form {
  margin-left: 2%;
  margin-top: 1%;
  width: 100%;
  margin-right: 2%;
}
.body-input {
  width: 100%;
  height: 30%;
  border: none;
  font-size: 1.2rem;
}
.explore {
  background-color: white;
  padding-top: 2%;
  padding-left: 2%;
}
.body-input:focus {
  outline: none;
}
.body-input::placeholder {
  color: rgba(0, 0, 0, 0.541);
  font-size: 1.4rem;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.search-container {
  width: 30%;
}

.search {
  border-radius: 10px;
  padding: 4%;
  font-weight: bold;
  width: 100%;
  border: none;
  background-color: white;
}
::placeholder {
  color: rgba(0, 0, 0, 0.384);
}

.left:not(:nth-child(1)) {
  background-color: white;
  padding: 2% 3%;
}
.left {
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
  padding: 3%;
}
.left2 {
  padding: 4% 3%;
}
.signup-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background-color: var(--blue);
  padding-left: 35%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  display: flex;
  justify-content: space-between;
  color: white;
  /* padding-right: 6%; */
}
.signup-container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 3%;
}
.left4 h3 {
  font-size: 1.5rem;
}
.login-ask {
  text-align: center;
}
.signin-ask {
  text-align: center;
  margin-top: 7%;
}
.login-btn {
  border: 1px solid white;
  padding: 2% 5%;
  border-radius: 30px;
}
.signup-btn {
  color: black;
  font-weight: bold;
}
.signup-btn {
  border: 1px solid white;
  padding: 2% 5%;
  background-color: white;
  border-radius: 30px;
}
.signUp-btn {
  background-color: var(--blue);
  width: 100%;
  margin-top: 9%;
  padding: 4% 0%;
  color: white;
  border-radius: 30px;
  font-weight: 700;
}
.login-btn {
  color: white;
  font-weight: bold;
}
/* .post {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 17%;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  font-size: 1rem;
} */
.post-btn {
  background-color: var(--pink2);
  padding: 1% 2%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-pen {
  color: white;
}
/* .bg{
    background-color: rgba(0, 0, 0, 0.137);
} */

.dott {
  color: var(--pink);
}
.avatar {
  border-radius: 50%;
  text-align: center;
  width: 80px;
  height: 80px;
}
button {
  outline: none;
  border: none;
}
.comment-container {
  border-radius: 50px;
  width: max-content;
  color: rgba(0, 0, 0, 0.575);
  padding: 1% 2%;
}

.title-container {
  display: flex;
  align-items: flex-end;
  gap: 3%;
}
.title-container p {
  font-size: 0.5rem;
}
.like-container {
  border-radius: 50px;
  width: max-content;
  color: white;
  padding: 1% 2%;
  gap: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  width: 100%;
}
.dislike-container {
  border-radius: 50px;
  width: max-content;
  color: white;
  padding: 1% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.616);
}
.comment-section {
  display: flex;
  gap: 8%;
  padding-top: 3%;
  position: relative;
  z-index: 899;
}
.main-img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

/* .today{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.container {
  display: flex;
  background-color: white;
  /* align-items: flex-start;
 
    padding: 4%;
    width: 100%; */
}
.text h4 {
  font-size: 1.3rem;
  font-weight: bolder;
  color: rgb(50, 50, 82);
}
.text p {
  color: rgba(0, 0, 0, 0.438);
  overflow-wrap: break-word;
  padding: 2% 0;
}
.title-container p {
  padding: 0;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.438);
  width: 20%;
  gap: 6%;
}

.text {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.delete-btn {
  background-color: rgba(0, 0, 0, 0.137);
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 1.4%;
  border-radius: 50px;
  margin-left: 10%;
  color: rgba(0, 0, 0, 0.349);
}

button {
  background-color: transparent;
}
.submit-btn {
  color: rgba(0, 0, 0, 0.349);
}
.bg-cover {
  background-color: rgba(0, 0, 0, 0.699);
  position: fixed;
  top: 0;
  z-index: 150;
  height: 100vh;
  width: 100vw;
}

/* ===================nav-right=================== */
.right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
  width: 60%;
}
.active {
  animation: slidein 0.5s both;
}
@keyframes slidein {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

.user-icon {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  margin-bottom: 7%;
}
.user-icon2 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.user-icon3 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.username {
  color: black;
  margin-bottom: 2%;
}
.userEmail {
  color: rgba(0, 0, 0, 0.541);
}
.buttons-container {
  width: 100%;
  margin-top: 15%;
  font-size: 1.5rem;
}
.buttons-container button a {
  font-size: 1rem;
}
.buttons-container button:not(:nth-child(5)) {
  margin-bottom: 8%;
  padding: 8% 0%;
}
.buttons-container button:hover,
.buttons-container button:active {
  margin-bottom: 8%;
  padding: 8% 0%;
  background-color: rgba(126, 121, 121, 0.39);
  transition: 0.3s ease;
}
.form-edit {
  margin-top: 7%;
  color: black;
  border: 1px solid black;
  padding: 3%;
  width: 50%;
  font-size: 1rem;
  border-radius: 20px;
  text-align: center;
}
.close {
  top: 1%;
  right: 6%;
  color: black;
  font-size: 1.3rem;
}
.close-modal {
  top: 1%;
  right: 6%;
  color: black;
  font-size: 1.3rem;
}
.close-tweet {
  top: 1%;
  right: 6%;
  color: black;
  font-size: 1.3rem;
}
.return1 {
  position: absolute;
  top: 3%;
  right: 91%;
  color: black;
  font-size: 1.3rem;
  font-weight: 900;
}
.logout {
  color: white;
  /* background-color: #0d6efd; */
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  padding: 4% 20%;
}
/* .close-active{
    animation: slideout 0.5s both;
}

@keyframes slideout {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-300px);
    }
  } */
.nav-second {
  z-index: 200;
  width: 20%;
  background: white;

  position: fixed;
  /* transform: translateX(-500px); */
  height: 100vh;
  /* background-color: white; */
  margin-left: 15%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 2%;
  color: black;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 4%;
  border-right: 1px solid rgba(0, 0, 0, 0.178);
}
.icon {
  display: inline-block;
  position: relative;
  width: 60%;
}
.icon input[type="file"] {
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.user {
  width: 50%;
  font-size: 1rem;
  margin-bottom: 4%;
  color: var(--blue);
}
.fa-heart {
  font-size: 2.2vh;
}
.fa-image {
  font-size: 1.3rem;
}
.fa-twitter {
  color: var(--blue);
  font-size: 2rem;
  margin-bottom: 3%;
}
.social-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12%;
  gap: 9%;
  width: 100%;
  font-size: 1.24rem;
  font-family: "Lato", sans-serif;
  padding: 5% 0;
  padding-left: 5%;
  border-radius: 25px;
}
.logOut {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12%;
  gap: 9%;
  width: 100%;
  font-size: 1.24rem;
  font-family: "Lato", sans-serif;
  padding: 5% 0;
  padding-left: 5%;
  border-radius: 25px;
}
.tweet-btn {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.tweet-btn2 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--blue);
  padding: 1.5% 2%;
  border-radius: 30px;
  margin-bottom: 2%;
  margin-right: 2%;
}
.btn-bg {
  background-color: var(--blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7%;
  border-radius: 30px;
}
.logOut {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7%;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.212);
}

.btn-bg a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover1:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}
.hover1:active {
  font-weight: bold;
}
.hover2:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}
.hover3:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}
.hover4:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}
.hover5:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}
.hover6:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}
.hover7:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}
.hover8:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}
.hover9:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}
.hover10:hover {
  background-color: rgba(0, 0, 0, 0.123);
  transition: all 0.5s;
}

.top {
  background-color: white;
  /* position: fixed;
  z-index: 555; */
}

.fixed {
  position: fixed;
  top: 0;
  width: 44.8%;
  left: 35.17%;
  z-index: 996;
  background-color: rgba(255, 255, 255, 0.938);
  border-right: 1px solid rgba(0, 0, 0, 0.11);
}
.margin_t15 {
  margin-top: 15%;
}
.your-img {
  width: 30%;
}

.top h3 {
  padding: 3%;
}
.select-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.055);
}
.forYou {
  width: 50%;
  text-align: center;
  font-weight: bold;
}
.forYou:hover {
  background-color: rgba(0, 0, 0, 0.096);
  /* width: 30%; */
}

.following:hover {
  background-color: rgba(0, 0, 0, 0.096);
}
.forYou button {
  font-weight: bold;
  padding: 4%;
}
.forYou button:hover {
  /* border-bottom: 2px solid var(--blue); */
}
.following {
  width: 50%;
  text-align: center;
  font-weight: bold;
}
.following button {
  font-weight: bold;
  padding: 4%;
}
.following button:hover {
  /* border-bottom: 2px solid var(--blue); */
}
/* ================== END ==================== */
.comment_container {
  background-color: rgba(128, 128, 128, 0.082);
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  gap: 3%;
  padding: 2% 3%;
  position: relative;
  z-index: 899;
}
.comment-input {
  border: none;
  background-color: transparent;
  width: 80%;
}
.comment-input:focus {
  border: none;
  outline: none;
  background-color: transparent;
}
.reply {
  border: none;
  background-color: #0d6efd;
  color: white;
  padding: 2% 5%;
  border-radius: 5px;
}
.a {
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.w60 {
  width: 60%;
}
.flex-left {
  display: flex;
  align-items: flex-start;
}
.contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-container {
  width: 60%;
  padding-bottom: 8%;
  min-height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}
.dummy-detail {
  width: 35px;
  height: 35px;
}
.post-comment-container {
  background-color: white;
  position: relative;
  /* padding: 3% 5%; */
}
/* .border-left{
  border-left: 2px solid rgba(0, 0, 0, 0.171);
  height: 87%;
  position: absolute;
  top: 21%;
  left: 4%;
} */

.margin_b50 {
  margin-bottom: 5%;
}
.avatar {
  width: 40px;
  height: 40px;
}
.border_none {
  border: none;
}

.post {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.616);
}
.likeCount {
  font-size: 1rem;
}

/* ===================== profile edit page ======================== */
.icon2 {
  display: inline-block;
  position: relative;
  width: 60%;
}
.icon2 input[type="file"] {
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}
/* .input-icon{
    display: inline-block;
    position: relative;
    width: 60%;
}
.input-icon input[type="file"]{
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
} */

.camera2 {
  top: 62%;
  right: 69.3%;
  width: 20%;
}

.profile_edit_container {
  width: 50%;
  min-height: 100vh;
}
.bg-img {
  width: 166.8%;
  height: 150px;
}
.camera-icon {
  color: white;
  font-size: 3rem;
  width: 100%;
}
.camera {
  top: 30%;
  right: 0%;
  width: 20%;
}

.icon2::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 60%;
  left: 10%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.info-container input {
  width: 100%;
  border: none;
  padding: 2%;
  background-color: transparent;
}
.info-container textarea {
  width: 100%;
  border: none;
  padding: 4%;
  background-color: transparent;
}
.info-container textarea:focus {
  outline: none;
}
.info-container input:focus {
  outline: none;
}
.name-container {
  display: flex;
  align-items: center;
  gap: 5%;
  /* margin-bottom: 3%; */
}
.intro-container {
  display: flex;
  align-items: center;
  gap: 5%;
  /* margin-bottom: 3%; */
  border-top: 2px solid rgba(0, 0, 0, 0.295);
}
.web-container {
  display: flex;
  align-items: center;
  gap: 5%;
  /* margin-bottom: 3%; */
  border-top: 2px solid rgba(0, 0, 0, 0.295);
}
.bd-container {
  display: flex;
  align-items: center;
  gap: 5%;
  /* margin-bottom: 3%; */
  border-top: 2px solid rgba(0, 0, 0, 0.295);
  border-bottom: 2px solid rgba(0, 0, 0, 0.295);
}

.info-container {
  width: 100%;
  margin-top: 10%;
}
.info-container label {
  font-weight: bold;
}
/* ======================== END ==================================== */
.personal-info-container {
  width: 60%;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
  margin-right: 10%;
  margin-top: 1%;
}
.icon-container a {
  color: black;
  font-size: 1.3rem;
}
.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
}
.notification a {
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.email a {
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.follow-btn {
  border: 1px solid rgba(0, 0, 0, 0.295);
  padding: 1% 3%;
  border-radius: 20px;
}
.follow-btn a {
  font-size: 1rem;
  font-weight: bold;
}
.font_size2 {
  font-size: 2rem;
}
.info-detail {
  padding: 3% 0 0 3.5%;
}
.personal-email {
  color: rgba(0, 0, 0, 0.445);
}
.join_date {
  color: rgba(0, 0, 0, 0.445);
  margin-top: 3%;
  margin-bottom: 1%;
}
.place {
  color: rgba(0, 0, 0, 0.445);
  margin-bottom: 4%;
  font-weight: lighter;
  margin-bottom: 4%;
}
.following-num {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2%;
  gap: 8%;
}
.following-num span {
  font-weight: bold;
  color: black;
}
.following-num p {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.445);
}
.choosing-container {
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.205);
  padding-bottom: 1%;
  padding-top: 3%;
}
.choosing-container a {
  color: rgba(0, 0, 0, 0.562);
  font-weight: bold;
  /* border-bottom: 2.5px solid rgba(0, 0, 0, 0.479); */
}
/* .choosing-container a:hover{
    color: black;
    border-bottom: 2.5px solid #0d6efd;
    padding-bottom: 1%;
} */
.post-container2 {
  width: 75%;
}

.introdution {
  width: 90%;
  margin-top: 2%;
}

.place-container {
  display: flex;
  align-items: center;
  gap: 5%;
  /* margin-bottom: 3%; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.295);
}

.select {
  color: rgba(0, 0, 0, 0.24);
}
select:focus {
  outline: none;
}
.fa-link {
  color: rgba(0, 0, 0, 0.562);
}
.web {
  color: #0d6efd;
}
.detail-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1%;
}
.bg-gray {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.397);
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.bg-gray2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.397);
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.bg-white {
  position: absolute;
  background-color: white;
  z-index: 997;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#register {
  display: none;
}
/* signup  */
.register-container {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 999;
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  padding-top: 1%;
  border-radius: 15px;
}
.signIn-container {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 999;
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  padding-top: 1%;
  border-radius: 15px;
}
.icon-container-signup {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 999;
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  padding-top: 1%;
  border-radius: 15px;
  display: none;
}

.register-container .top {
  background-color: white;
  text-align: center;
}
.signIn-container .top {
  background-color: white;
  text-align: center;
}
.close {
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 2rem;
  font-weight: bold;
}
.close-modal {
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 2rem;
  font-weight: bold;
}
.close-tweet {
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 1.7rem;
  font-weight: bold;
  padding-top: 1%;
}
.signIn-container .top h2 {
  font-weight: bolder;
}
.google button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  margin-right: auto;
  margin-left: auto;
  gap: 5%;
  width: 55%;
}
.create-account button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 10%;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  margin-right: auto;
  margin-left: auto;
  gap: 5%;
  width: 55%;
  color: white;
  background-color: black;
  font-weight: bold;
}
.apple button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 10%;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  gap: 3%;
}
.policy {
  padding: 5% 22%;
  font-size: 0.8rem;
}
.policy span {
  color: var(--blue);
}
.border {
  color: black;
  margin-top: 5%;
  text-align: center;
}
.border span {
  color: rgba(0, 0, 0, 0.219);
}
.apple-text {
  font-weight: bold;
}
.fa-apple {
  font-size: 1.2rem;
}
.user-icon4 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-bottom: 7%;
}
.right-name {
  text-align: left;
  font-size: 0.8rem;
}
.google {
  margin-top: 5%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.apple {
  margin-top: 5%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.create-account {
  margin-top: 5%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.register-container2 {
  padding: 6%;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 999;
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  height: 84%;
  border-radius: 15px;
}
.step1 h2 {
  margin-top: 5%;
  font-weight: 900;
  margin-bottom: 5%;
  font-size: 1.8rem;
}
.input-name {
  width: 100%;
  margin-bottom: 4%;
  padding: 3.5% 15% 3.5% 2%;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 7px;
}
.input-password {
  width: 100%;
  margin-bottom: 4%;
  padding: 3.5% 15% 3.5% 2%;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 7px;
}
.input-name-check {
  width: 100%;
  margin-bottom: 4%;
  padding: 3.5% 15% 3.5% 2%;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 7px;
}
.input-name:focus {
  outline: 2px solid var(--blue);
}
.input-password:focus {
  outline: 2px solid var(--blue);
}
.input-phone:focus {
  outline: 2px solid var(--blue);
}
.input-password:focus {
  outline: 2px solid var(--blue);
}
.input-name::placeholder {
  color: rgba(0, 0, 0, 0.61);
}
.input-phone::placeholder {
  color: rgba(0, 0, 0, 0.61);
}
.input-birthday::placeholder {
  color: rgba(0, 0, 0, 0.61);
}
.input-phone {
  width: 100%;
  padding: 3.5% 2%;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 7px;
  margin-bottom: 4%;
}
.input-phone-check {
  width: 100%;
  padding: 3.5% 2%;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 7px;
  margin-bottom: 4%;
}
.input-birthday-check {
  width: 100%;
  padding: 3.5% 2%;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 7px;
}
.date-of-birth {
  margin-top: 6%;
}
.date-of-birth p {
  color: rgba(0, 0, 0, 0.685);
  font-size: 0.8rem;
  margin-top: 3%;
}
select {
  border: 1px solid rgba(0, 0, 0, 0.267);
  padding: 4%;
  margin-top: 7%;
  border-radius: 7px;
}
select:focus {
  outline: 2px solid var(--blue);
}
.select-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.next {
  width: 100%;
  margin-top: 10%;
  padding: 4%;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 30px;
  pointer-events: none;
}
.logOut-confirm {
  width: 100%;
  margin-top: 10%;
  padding: 5% 4%;
  color: white;
  font-weight: bold;
  background-color: black;
  border-radius: 30px;
}
.logOut-cancel {
  width: 100%;
  margin-top: 10%;
  padding: 5% 4%;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 30px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.199);
}
#close2 {
  position: absolute;
  top: 1%;
  left: 5%;
  font-size: 2rem;
}
.step-first {
  display: block;
  padding-top: 11%;
}
.step-first2 {
  display: block;
  padding-top: 8%;
}
.stepNext {
  padding: 19%;
  padding-top: 8%;
  display: none;
}
.step-third {
  padding: 19%;
  padding-top: 8%;
  display: none;
}
.step-forth {
  padding: 19%;
  padding-top: 8%;
  display: none;
}
.step-fifth {
  padding: 19%;
  padding-top: 8%;
  display: none;
}

.count {
  top: 9%;
  left: 89%;
  color: rgba(0, 0, 0, 0.651);
  font-size: 0.8rem;
  width: 10%;
}
.alert-phone {
  font-size: 0.8rem;
  margin-bottom: 4%;
  margin-top: 1%;
  display: none;
  color: red;
}
.alert-phone2 {
  font-size: 0.8rem;
  margin-bottom: 4%;
  margin-top: 1%;
  display: none;
  color: red;
}
.alert {
  font-size: 0.8rem;
  margin-top: 10%;
}
.step-third {
  display: none;
}
.checked1 {
  top: 3%;
  left: 92%;
  color: rgb(23, 139, 23);
  display: none;
}
.checked2 {
  top: 17.5%;
  left: 92%;
  color: rgb(23, 139, 23);
  display: none;
}
.checked3 {
  top: 32%;
  left: 92%;
  color: rgb(23, 139, 23);
  display: none;
}
.close1 {
  top: 3%;
  left: 92%;
  color: red;
  display: none;
}
.close2 {
  top: 17.5%;
  left: 92%;
  color: red;
  display: none;
}
.close3 {
  top: 32%;
  left: 92%;
  color: red;
  display: none;
}
.password {
  color: rgba(0, 0, 0, 0.377);
  font-size: 0.9rem;
  margin-bottom: 10%;
}
.next-btn {
  background-color: rgba(0, 0, 0, 0.521);
  width: 100%;
  margin-top: 62%;
  padding: 4% 0%;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  pointer-events: none;
}
.length-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  gap: 2%;
  margin-bottom: 0.5%;
}

.contain-lower {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  gap: 2%;
  margin-bottom: 0.5%;
}
.contain-num {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  gap: 2%;
  margin-bottom: 0.5%;
}
.contain-special {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  gap: 2%;
  margin-bottom: 0.5%;
}
.contain-upper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  gap: 2%;
  margin-bottom: 0.5%;
}
.icon {
  display: inline-block;
  position: relative;
  width: 60%;
}
.icon input[type="file"] {
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.user-dummy {
  width: 74%;
  margin: 18% 0% 0% 42%;
}
.your-img2 {
  width: 74%;
  margin: -74% 0% 0% 42%;
  border-radius: 50%;
}

.two {
  text-align: center;
  width: 100%;
}
.next-btn2 {
  background-color: rgba(0, 0, 0, 0.521);
  width: 100%;
  margin-top: 20%;
  padding: 4% 0%;
  color: white;
  border-radius: 30px;
  font-weight: 700;
}
.upload {
  color: rgba(0, 0, 0, 0.596);
}
/* sign in */
.input-signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
.input-signIn input {
  width: 60%;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 5px;
  background-color: transparent;
}
.input-read {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11%;
}
.input-read input {
  width: 60%;
  padding: 2%;
  border-radius: 5px;
  border: none;
  background-color: rgba(128, 128, 128, 0.089);
}
.input-read input:focus {
  outline: none;
}
.signIn {
  width: 100%;
}
.signIn-password {
  width: 100%;
  display: none;
}
#check-btn {
  margin-top: 21%;
}
#sign-in {
  display: none;
}
.error-text {
  color: white;
  background-color: var(--blue);
  padding: 2% 3%;
  text-align: center;
}
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: -4%;
  border-radius: 5px;
  display: none;
}
.image-container {
  margin-top: 5%;
  margin-left: 10%;
}
.tweet-body {
  padding-top: 1.5%;
}
.modal-post {
  background-color: white;
  display: none;
  position: fixed;
  width: 40%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  padding: 2%;
  border-radius: 15px;
}
.modal-post .top {
  padding-top: 3%;
  padding-left: 3%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
  background-color: white;
  width: 100%;
  gap: 2%;
}
.body-input2 {
  width: 100%;
  height: 30%;
  border: none;
  font-size: 1.2rem;
}

.body-input2:focus {
  outline: none;
}
.body-input2::placeholder {
  color: rgba(0, 0, 0, 0.541);
  font-size: 1.4rem;
}
.tweet-form {
  width: 100%;
  padding-right: 3%;
}
.profile-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dotted {
  margin-left: 9%;
}
.logout-modal {
  z-index: 999;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 304px;
  padding: 3%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 15px;
  display: none;
}

.twitter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%;
}
.confirm {
  color: rgba(0, 0, 0, 0.575);
  padding-top: 3%;
  font-size: 0.98rem;
}

.heart-second {
  display: none;
  color: red;
}
#comment-btn {
  cursor: pointer;
}
.comment-modal {
  width: 537px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 999;
  padding: 2%;
  border-radius: 10px;
}
.flex2{
  display: flex;
  align-items: flex-start;
  gap: 4%;
  margin-top: 6%;
}
.flex3{
  display: flex;
  align-items: flex-start;
  gap: 4%;
  margin-top: 2%;
}
.tweet-btn{
  padding: 0%;
}
.arrow{
  padding: 3%;
  font-weight: bold;
}